body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    line-height:.5;
}
h2{
    font-size: 30px;
    line-height: .5;
}
p{
    text-align: justify;
    font-size: 22px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.span-color{
    color:#3aa2f1;
}
.half-width{
    width: 50%;
}
.one-third-width{
    width: 33.33%;
}
.flexible-display{
    display: flex;
}
.header-text{
    padding-top: 10%;
    padding-left: 10%
}
.header-text p{
    padding-top: 20px;
}
.title-text-div{
    border-left: 7px solid #ffbb2a;
    height: 140px;
}
.title-text-div h1{
    padding-top: 10px;
    padding-left: 20px;
}
.header-img img{
    width: 80%;
    padding: 10%;
}

.banner-btn a{
    text-decoration: none;
    letter-spacing:2px;
    color: #ffffff;
    background-color:#ffbb2a;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 20px;
}
.banner-btn a:hover{
    color: white;
    background-color: #3ba3f1;
}

/* Mission Section Start */

.mission-sec{
    background-color: #fffdfd;
}
.mission-sec h1{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}
.mission-sec h2{
    text-align: center;
}
.detailbox img{
    width: 225px;
    height: 200px;
    padding-left: 55px;
}

.detailbox{
    padding-left:10%;
    padding-right:10%;
    padding-bottom:6%;
}
.detailbox a{
    text-decoration: none;
    color: #3aa2f1;
    font-size: 22px;

}
.detailbox a:hover{
    color: black;
    
}
.box-mis{
    background-color: #ebfbfd;
}
.box-vis{
    background-color: #fffaef;
}
.box-goal{
    background-color: #ffedea
}
.box-sdw{
    height: 650px;
    box-shadow: 5px 10px 10px #b4b4b4;
    margin-right: 2%;
    padding: 3%;
    border-radius: 10px;
}

/* Devlop without limit section */

.dev-limit-sec{
    padding-top: 4%;
    padding-bottom: 5%;

}
.dev-limit-sec img{
    width: 60%;
    margin-left: 20%;
    margin-top: 4%;
    border-radius: 20px;
}
.dev-limit-sec p{
    padding-right:20%;
}

/* Community section */

.community-sec{
    padding-top: 4%;
    padding-bottom: 5%;
    background-color: #fffdfd;

}
.community-sec img{
    width: 60%;
    margin-left: 20%;
    margin-top: 4%;
    border-radius: 20px;
}
.com-padding{
    padding-left:10%;
}

/* Devlop without limit section */

.freemask-sec{
    padding-top: 4%;
    padding-bottom: 5%;

}
.freemask-sec img{
    width: 50%;
    margin-left: 20%;
    border-radius: 20px;
}
.freemask-sec p{
    padding-right:20%;
}

.freemask-text{
    padding-top: 60px;
}

/* Footer Section */

.logo-copyright{
    width: 100%;
    color: #ffffff;
    background-color:#000000 ;
    text-align: center;
    height: 250px;
}

.logo-copyright h3{
    font-weight: lighter;
}
.logo-copyright img{
    padding-top: 25px;
    margin: 0 auto;
    width: 8%;
}